DATABASE_URL="postgresql://splitshare:13d3eCu9sBxZk47OsqplayWIdIJsIkUu@dpg-d8hvrgkm0tmc73c5nf8g-a.singapore-postgres.render.com/splitshare_3ur9"
NEXTAUTH_SECRET="generate-a-random-32-char-secret-here"
NEXTAUTH_URL="http://localhost:3000"
